<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/document/head :: headFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Lexicon - Films</title>
</head>
<body th:include="fragments/document/body :: bodyFragment">
<div th:fragment="page">
    <header th:insert="~{fragments/body/header :: headerFragment}"></header>
    <main role="main">
        <div class="container">
            <h1>Film List</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>ISBN</th>
                    <th>Position</th>
                    <th>Loaned?</th>
                    <th></th>
                </tr>
                <th:block th:each="film : ${filmList}" th:method="GET">
                    <tr>
                        <td th:text="${film.title}"></td>
                        <td th:text="${film.genre}"></td>
                        <td th:text="${film.ISBN}"></td>
                        <td th:text="${film.pos}"></td>
                        <td th:text="${film.loaned}"></td>
                        <td class="hide" th:text="${film.filmId}"></td>
                        <td>
                            <form class="buttons" th:action="@{/film-edit(id=${film.filmId})}" th:method="POST">
                                <button type="submit" name="edit" value="edit" class="link-button">Edit</button>
                            </form>
                            <form class="buttons" th:action="@{/film(id=${film.filmId})}" th:method="DELETE">
                                <button type="submit" name="delete" value="delete" class="link-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </main>
    <footer th:insert="~{fragments/body/footer :: footerFragment}"></footer>
</div>
</body>
</html>
