<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/document/head :: headFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Film</title>
</head>
<body th:include="fragments/document/body :: bodyFragment">
<div th:fragment="page">
    <header th:insert="~{fragments/body/header :: headerFragment}"></header>
    <main>
        <a href="/film/list">Film List</a>
        <a href="/film/add">Add a film</a>
    </main>
    <footer th:insert="~{fragments/body/footer :: footerFragment}"></footer>
</div>
</body>
</html>
