<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="headerFragment">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Lexicon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <!-- .active -->
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/film" id="dropdown-film" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Films</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-film">
                            <a class="dropdown-item" href="/film">Film List</a>
                            <a class="dropdown-item" href="/film-add">Add Film</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/member" id="dropdown-member"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-member">
                            <a class="dropdown-item" href="/member">Member List</a>
                            <a class="dropdown-item" href="/member-add">Add Member</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/loan" id="dropdown-loan"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Loans</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-member">
                            <a class="dropdown-item" href="/loan">Loan List</a>
                            <a class="dropdown-item" href="/loan-add">Create Loan</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>>