<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/document/head :: headFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Film</title>
</head>
<body th:include="fragments/document/body :: bodyFragment">
<div th:fragment="page">
    <header th:insert="~{fragments/body/header :: headerFragment}"></header>
    <main>
        <h1>Film Database</h1>

        <form action="/rest-api/film" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div>
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre">
            </div>
        </form>

        <th:block th:each="film : ${filmList}">
            <tr>
                <td th:text="${film.title}"></td>
            </tr>
        </th:block>
    </main>
    <footer th:insert="~{fragments/body/footer :: footerFragment}"></footer>
</div>
</body>
</html>
