<!DOCTYPE html SYSTEM "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/document/head :: headFragment">
    <meta charset="UTF-8">
    <title id="pageTitle">Lexicon - Create Loan</title>
</head>
<body th:include="fragments/document/body :: bodyFragment">
<div th:fragment="page">
    <header th:insert="~{fragments/body/header :: headerFragment}"></header>
    <main role="main">
        <div class="container">
            <h1>Create Loan</h1>

            <form th:action="@{/loan-add}" method="POST">
                <h4>Select Multiple Films</h4>
                <select multiple size="10">
                    <option th:each="film : ${filmList}" th:text="${film.title}" th:value="film"></option>
                </select>

                <div>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </main>
    <footer th:insert="~{fragments/body/footer :: footerFragment}"></footer>
</div>
</body>
</html>
